<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>login</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body class="login1">
    <!-- Login Screen -->
    <div class="login-wrapper">
      <div class="login-container active">
        <a href="index.html">
          <%= image_tag 'ruby.png', width: '98', height: '112' %>
        </a>
        <form action="index.html">
          <div class="form-group">
            <input class="form-control" placeholder="Username or Email" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password" type="text">
            <input type="submit" value="ï”">
          </div>
          <div class="form-options clearfix">
            <a class="pull-right" href="#">Forgot password?</a>
            <div class="text-left">
              <label class="checkbox">
                <input type="checkbox"><span>Remember me</span></label>
            </div>
          </div>
        </form>
        <p class="signup">
          Don't have an account yet? <a href="signup.html">Sign up now</a>
        </p>
      </div>
    </div>
    <!-- End Login Screen -->

    <!-- Script -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- End Script -->
  </body>

</html>
