@import "variables";
a {
  color: $gray; }

.navbar .container-fluid.top-bar form .form-control:focus {
  border-color: $gray; }

.navbar .container-fluid.top-bar .nav > li.open > a span, .navbar .container-fluid.top-bar .nav > li.active > a span, .navbar .container-fluid.top-bar .nav > li.open.active > a span {
  color: #555555; }

.navbar .container-fluid.main-nav .nav-collapse .nav > li a.current span {
  color: #333; }
.navbar .container-fluid.main-nav .nav-collapse .nav > li a.current .caret {
  border-top-color: $gray; }

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current {
  color: #333; }

.widget-container .heading {
  color: $gray; }

.dropdown-menu li a:hover {
  border-bottom-color: $gray;
  color: $gray; }

.form-control:focus {
  border-color: $gray; }

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
  color: $gray; }

.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
  background-position: left -152px; }
.stats-container [class^="col-"] .number .icon.visitors, .stats-container [class*="col-"] .number .icon.visitors {
  background-position: -50px -152px; }
.stats-container [class^="col-"] .number .icon.money, .stats-container [class*="col-"] .number .icon.money {
  background-position: -100px -152px; }
.stats-container [class^="col-"] .number .icon.chat-bubbles, .stats-container [class*="col-"] .number .icon.chat-bubbles {
  background-position: -150px -152px; }

.task-widget input[type="checkbox"]:checked + .task-checkbox {
  color: $gray; }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border-color: $gray; }

.select2-container-multi.select2-container-active .select2-choices {
  border-color: $gray; }

.select2-drop-active {
  border-color: $gray; }

.dataTable th {
  color: $gray; }
  .dataTable th.sorting:after {
    border-top: 5px solid $gray; }
  .dataTable th.sorting:before {
    border-bottom: 5px solid $gray; }
  .dataTable th.sorting_asc:after {
    border-bottom: 5px solid $gray; }
  .dataTable th.sorting_desc:after {
    border-top: 5px solid $gray; }
