<!-- Main Nav -->
<div class="container-fluid main-nav clearfix">
  <div class="nav-collapse">
    <ul class="nav">
      <li>
        <a class="current" href="index-2.html"><span aria-hidden="true" class="se7en-home"></span>Dashboard</a>
      </li>
      <li>
        <a href="social.html"><span aria-hidden="true" class="se7en-feed"></span>Social Feed</a>
      </li>
      <li class="dropdown">
        <a data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-star"></span>Features<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="buttons.html">Buttons</a>
          </li>
          <li>
            <a href="fontawesome.html">Font Awesome Icons</a>
          </li>
          <li>
            <a href="glyphicons.html">
              <span class="notifications label label-warning">New</span>
              <p>Glyphicons</p>
            </a>
          </li>
          <li>
            <a href="components.html">Components</a>
          </li>
          <li>
            <a href="widgets.html">Widgets</a>
          </li>
          <li>
            <a href="typo.html">Typography</a>
          </li>
          <li>
            <a href="grid.html">Grid Layout</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a data-toggle="dropdown" href="#">
          <span aria-hidden="true" class="se7en-forms"></span>Forms<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="form-components.html">
                <span class="notifications label label-warning">New</span>
                <p>Form Components</p>
              </a>
            </li>
            <li>
              <a href="form-advanced.html">Advanced Forms</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" href="#">
            <span aria-hidden="true" class="se7en-tables"></span>Tables<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="tables.html">Basic tables</a>
              </li>
              <li>
                <a href="datatables.html">DataTables</a>
              </li>
              <li>
                <a href="datatables-editable.html">
                  <div class="notifications label label-warning">New</div>
                  <p>Editable DataTables</p>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="charts.html"><span aria-hidden="true" class="se7en-charts"></span>Charts</a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-pages"></span>Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="chat.html">
                  <span class="notifications label label-warning">New</span>
                  <p>Chat</p>
                </a>
              </li>
              <li>
                <a href="calendar.html">Calendar</a>
              </li>
              <li>
                <a href="timeline.html">
                  <span class="notifications label label-warning">New</span>
                  <p>Timeline</p>
                </a>
              </li>
              <li>
                <a href="login1.html">
                  <span class="notifications label label-warning">New</span>
                  <p>Login 1</p>
                </a>
              </li>
              <li>
                <a href="login2.html">Login 2</a>
              </li>
              <li>
                <a href="signup1.html">
                  <span class="notifications label label-warning">New</span>
                  <p>Sign Up 1</p>
                </a>
              </li>
              <li>
                <a href="signup2.html">Sign Up 2</a>
              </li>
              <li>
                <a href="invoice.html">
                  <span class="notifications label label-warning">New</span>
                  <p>Invoice</p>
                </a>
              </li>
              <li>
                <a href="faq.html">
                  <span class="notifications label label-warning">New</span>
                  <p>FAQ</p>
                </a>
              </li>
              <li>
                <a href="filters.html">Filter Results</a>
              </li>
              <li>
                <a href="404-page.html">404 Page</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="gallery.html"><span aria-hidden="true" class="se7en-gallery"></span>Gallery</a>
          </li>
    </ul>
  </div>
</div>
<!-- Main Nav End -->
